@import './variables.scss';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "PingFangSC-Regular", "苹方", "Microsoft YaHei", "微软雅黑";
  vertical-align: baseline;
}


* {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  font-family: "PingFangSC-Regular", "苹方", "Microsoft YaHei", "微软雅黑";
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background: #efefef;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color:#333;
}

input,
textarea {
  outline: none;
}

img {
  border: 0;
}

body,
button,
input,
select,
textarea {
  font-size: 12px;
  font-family: "PingFangSC-Regular", "苹方", "Microsoft YaHei", "微软雅黑";
}
body {
  line-height: 1;
  background: #f3f3f3;
}
.inner {
  width: 1200px;
  margin: 0 auto;
}
.fl,.fr {
  display: inline
}
.fl {
  float: left
}
.fr {
  float: right
}
.none {
  display: none
}
.hide {
	text-decoration: line-through;
	display: none
}
.clearfix::before,.clearfix::after {
  display: table;
  content:" ";
  line-height: 0;
}
.clearfix::after {
  clear: both;
}
.ov {
  overflow: hidden;
}  
.highlight-color {
  color:#F26C4F;
}
.pipe {
  margin: 0 5px;
  color: #ccc;
}
.m-3 {
  margin:30px auto 0;
}
.board-box {
  background-color: #fff;
  -webkit-box-shadow: 0 0 8px 1px #e4e5e6;
  box-shadow: 0 0 8px 1px #e4e5e6;
  overflow: hidden;
  margin-top:20px;
}
.bullet {
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  width: 10px;
  height: 10px;
  z-index: 188;
  margin-right: 5px;
}
.bullet-active {
  background: rgb(0, 119, 255);
}
.cursor {
  cursor: pointer;
}
.el-image {
  .image-slot {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #f5f7fa;
    color: #909399;
    font-size: 30px;
  }
}
.el-pagination {
  text-align: center;
}
.el-form-item__label{
  text-align: left;
}
/*进度条*/
.progress{
  .el-progress{
    margin-top: 5px;
  }
  .el-progress-bar{
    width:45%;
  }
  .el-progress-bar__outer{
    background-color: #adaeaf;
  }
}
/*登录 注册框*/
.form-login .form-input {
	position: relative;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 20px;
	background-image: url(../../assets/images/icon-sprite-sign.png);
	background-color: rgba(255, 255, 255, 0.1);
}

.form-login .form-input.input-username {
	background-image: url(../../assets/images/icon-user.png);
	background-position: 22px 14px;
}

.form-login .form-input.input-email {
	background-position: 22px 18px;
}

.form-login .form-input.input-phone {
	background-position: 22px -20px;
}

.form-login .form-input.input-code {
	background-position: 22px -134px;
}

.form-login .form-input.input-password {
	background-position: 22px -97px;
}

.form-login .form-input .get-code {
	position: absolute;
	right: 20px;
}
.el-form-item {
	margin-bottom: 35px;
}

.findPassword .el-form-item__error{
  left:10px !important;
}
.editor-container .el-form-item__error {
	left:0px !important;
}
.el-form-item__error {
	left: 70px;
	font-size: 14px;
}

.form-edit .el-form-item .el-form-item__error {
	left: 10px;
}

.is-error .el-form-item__content .phone {
	border-color: #F56C6C;
}
.edui-default{
  z-index:5000px !important;
}
.cnzzImg {
  img {
    display: none;
  }
}

.contentDetail{
	font:17px/32px Microsoft Yahei;
  line-height: 30px;
    img {
      max-width: 80%;
  }
}
.bottom {
  margin-top: 20px;
	box-shadow: 0px -2px 5px 0px rgba(195, 195, 195, 0.4);
	.bottom-pane {
		background-color: #fff;
		padding: 15px 0;
		.bottom-inner {
			width: $content-width;
			margin: 0 auto;
			.pane-header {
				display: flex;
				flex-basis: 50%;
				border-bottom: solid $borderColor 1px;
				.title {
					width: 50%;
					text-align: center;
					color: #333333;
					font-size: 16px;
					line-height: 3;
				}
			}
			.pane-content {
				display: flex;
				.content {
					&.declare {
						width: 60%;
						font-size: 12px;
						color: $font-gray;
						line-height: 2.2;
						padding: 20px 20px;
						position: relative;
						box-sizing: border-box;
						&::after {
							position: absolute;
							content: '';
							border-right: solid 1px $borderColor;
							top: 8%;
							right: 0;
							bottom: 8%;
						}
					}
					&.contact {
						width: 40%;
						display: flex;
						justify-content: space-around;
						align-items: center;
						.contact-internet {
							font-size: 0px;
							line-height: 0;
							img {
								width: 152px;
								height: 152px;
								margin-left: 20px;
							}
							.contact-font {
								display: block;
								width: 100%;
								color: $font-gray;
								font-size: 12px;
								margin-top: 20px;
								margin-left: 5px;
							}
						}
						.contact-tel {
							text-align: center;
							.tel-number {
								font-size: 24px;
								color: $font-blue;
								line-height: 1.5;
							}
							.work-date {
								font-size: 14px;
								color: #333333;
								line-height: 2;
								padding: 10px 0;
							}

							.callcenter {
								.button {
									display: inline-block;
									color: #63acff;
									border: solid 1px $font-blue;
									padding: 5px 30px;
								}
							}
						}
					}
				}
			}
		}
	}
}
.footer{
	.footer-pane {
		.copy-right {
			background: #333;
			color: $font-gray;
			font-size: 16px;
			padding: 30px 0;
			text-align: center;
		}
	}
}

.loginBlock {
	.el-dialog {
		width:400px !important;
	}
	.el-dialog__header {
		padding:0;
	}
	.el-dialog__body {
		padding:0;
	}
	.el-dialog__headerbtn .el-dialog__close {
		color:#fff;
		font-size:40px;
	}
}
.wrapper-form-inner {
	.el-form{
		padding:40px 30px;
		.el-form-item{
			margin-bottom: 20px;
			.el-button--primary {
				margin-top:15px;
			}
			.el-form-item__content{
				.el-input
				{
					.el-input__inner{
						border-color: transparent;
						border-radius: 0; 
						background-color: transparent;
					}
					.el-input-group__append{
						border-color: transparent;
						border-radius: 0;
						background-color: transparent; 
						
						>i{
							font-size: 26px;
						}
						.el-button{
							color: $font-blue;
						}
					}
					
					font-size: 18px;
					border-bottom: solid 1px $borderColor;
				}
			}
			
			.el-form-item__error{
				left: 0;
				
			} 
		}
		.other{
			.el-checkbox{
				.el-checkbox__label{
					font-size: 16px;
				}
			}
			.el-link{
				.el-link--inner{
					font-size: 16px;
				}
			}
		} 
								
		.bottom-button-box{
			padding:30px 40px;
			text-align: center;
			display: flex;
			justify-content: space-between;
			.el-button{
				width:100%;
				padding:20px 0px;
				font-size: 18px;
				width: 180px;
				border-radius: 10px;
				margin:0 20px;
				&.is-plain{
					background: transparent;
					&:hover{
						background: $bg-blue;
					}
				}
			}
		}
		button {
			width:100%;
		}
	}
}
.loginbg,.registerB {
    background: url(../../assets/images/login_bg.png) no-repeat center center;
    background-size: 100% 100%;
    width: 100%;
    height: 210px;
    .title {
        font-size: 21px;
        text-align: center;
        padding-top: 70px;
    }
    .sub-title {
        margin-top:12px;
        font-size: 28.8px;
        text-align: center;
        color:#409eff;
        span:first-child {
            color: #0a0a0a;
            font-weight: 400;
            border-bottom: 7px solid #409eff;
        }
    }
    .wrapper-form-inner {
        margin: 0 auto;
	}
	
	
	
	
}
.registerBlock {
	.form-register {
		padding:20px 30px 20px 30px;
	}
	.el-tabs__item{
		font-size:18px;
	}
	.el-tabs__item.is-active{
		color: #000;
    	font-weight: bold;
	}
	.el-input__inner {
		padding:0;
	}
	.el-tabs__header {
		margin:20px 30px 0 30px;
	}
	.other {
		padding:0px 30px 20px 30px;
	}
	.already {
		float:right;
	}
	.bottom-button-box {
		padding:0px 30px 20px 30px;
		button{
			width:100%;
		}
	}
}
.hightlight {
	color:#409EFF;
}