$bg-color:#07f;
$content-width: 1200px;
$borderColor: #c7c7c7;
$font-gray: #a0a0a0;
$font-black: #0a0a0a;
$font-blue: #409eff;
$bg-blue: #409eff;
$bg-white: #fff;
$border-color-blue: #409eff;
$font-white:#fff;
$border-sign-color:#666666;